* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(212, 205, 205);
}

.login--container {
  background-image: url(/src/img/sky-stars.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login--modal {
  text-align: center;
  background-color: rgb(24,24,24);
  padding: 75px;
  box-shadow: 0 4px 6px 0 rgb(46, 44, 44);
}

.login--input-space {
  margin: 25px;
}

input {
  height: 40px;
  width: 100%;
  font-size: 18px;
}

label {
  color: red;
  margin-top: 10px;
}

.toggle-login-link {
  margin-left: 40px;
}

.home-page {
  background-image: url(/src/img/sky-stars.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FFE81F;
  text-shadow: black 2px 5px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #FFE81F;
  color: black;
  padding: 15px 30px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.cta-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  color: black;
}

.header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  border-bottom: 1px solid gray;
  background-color: black;
}

.header--logo {
  max-width: 20%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.header--logout {
  list-style: none;
  display: flex;
}

.header--leftspace {
  width: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid gray;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(212, 205, 205);
}

a:hover {
  color: #FFE81F
}

.container {
  margin-top: 20px;
}

.shipcard, .shipcardDetails {
  background-color: rgb(44, 41, 41) ;
  padding: 10px 10px 10px 20px;;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px 0 rgb(46, 44, 44);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.shipcard:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
} 

.shipcardDetails {
  background-color: rgb(101, 95, 95) ;
}

.shipcardDetails--title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.shipcardDetails--img-container {
  display: flex;
  justify-content: center;
}

.shipcardDetails--img {
  max-width: 50% !important;
  max-height: 50% !important;
  object-fit: cover !important;
  border-radius: 5px !important;
  margin-bottom: 20px;
  display: block;
}

.col {
  margin-left: 30px;
}

h4.uppercase {
  text-transform: uppercase;
}

#sentinel {
  height: 10px;
}

.spinner-div {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.no-results-message {
  margin: 0px;
  text-align: center;
}
