* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  padding: 20px 36px;
  border-bottom: 2px solid gray;
  background-color: black;
}

.nav--logo {
  max-width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 30px 25px;
  border-bottom: 2px solid gray;
}

.shipcard {
  background-color: rgb(101, 95, 95) ;
}

h3, h4, ul {
  color: rgb(212, 205, 205);
}